.WrapperHeader {
    display: flex;
    justify-content: space-between;
}

.chatBox {
    display: flex;
    align-items: center;
}

.labelName {
    margin-right: 10px;
}

.buttonWrapper {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.button {
    height: 25px;
    margin-left: 5px
}