.WrapperHeader {
  display: flex;
  justify-content: space-between;
}

.mineFather {
  display: flex;
  justify-content: flex-end;
}

.otherFather {
  display: flex;
  justify-content: flex-start;
}

.mine {
  border: 1px solid blue;
  background-color: lightblue;
  height: 50px;
  line-height: 30px;
  border-radius: 10%;
  margin: 3px;
  padding: 10px;
  width: fit-content;
}

.other {
  border: 1px solid grey;
  background-color: lightgray;
  height: 50px;
  line-height: 30px;
  border-radius: 10%;
  margin: 3px;
  padding: 10px;
  width: fit-content;
}

.messageWrapper {
  max-width: 100vw;
  overflow-x: hidden;
  align-items: center;
  padding: 20px;
  width: 80%;
  margin: auto;
}

.wrapperLabels {
  display: flex;
  justify-content: space-between;
  margin: 10px
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.button {
  height: 25px;
  margin-left: 5px
}

.logo {
  background: white;
}