.wrapperLogin {
    width: 270px;
}

.wrapperLabels {
    display: flex;
    justify-content: space-between;
    margin: 10px
}

.buttonWrapper {
    display: flex;
    justify-content: end;
    margin: 10px;
}

.button:last-child {
    margin-left: 5px
}