.loginWrapper {
    max-width: 100vw;
    overflow-x: hidden;
    align-items: center;
    justify-items: center;
    padding: 20px;
  }
  
  .wrapperLogin {
    width: 350px;
  }
  
  .wrapperLabels {
    display: flex;
    justify-content: space-between;
    margin: 10px
  }
  
  .buttonWrapper {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
  }
  
  .button {
    height: 25px;
    margin-left: 5px
  }