.WrapperHeader {
    display: flex;
    justify-content: space-between;
}

.loginWrapper {
    max-width: 100vw;
    overflow-x: hidden;
    align-items: center;
    justify-items: center;
    padding: 20px;
}

.buttonWrapper {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.button {
    height: 25px;
    margin-left: 5px
}